/DosBox/bin/Debug/DosBox.exe
/DosBox/bin/Debug/DosBox.pdb
/DosBox/bin/Debug/DosBox.vshost.exe
/DosBox/bin/Debug/DosBox.vshost.exe.manifest
/DosBox/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DosBox/obj/Debug/DosBox.csproj.FileListAbsolute.txt
/DosBox/obj/Debug/DosBox.csprojResolveAssemblyReference.cache
/DosBox/obj/Debug/DosBox.exe
/DosBox/obj/Debug/DosBox.pdb
/Microsoft.VisualStudio.Diagnostics.Measurement.pdb/41E8640183D24D258A352F2435A57CFA1/Microsoft.VisualStudio.Diagnostics.Measurement.pdb
/Microsoft.VisualStudio.Diagnostics.ServiceModelSink.pdb/1874EE663BA94C06B17389130785A8C11/Microsoft.VisualStudio.Diagnostics.ServiceModelSink.pdb
/Microsoft.VisualStudio.HostingProcess.Utilities.Sync.pdb/92CDD8112A3447D7A2AD8185732815661/Microsoft.VisualStudio.HostingProcess.Utilities.Sync.pdb
/Microsoft.VisualStudio.HostingProcess.Utilities.pdb/FECE57EC90514D91BD08FBDEB3043BC51/Microsoft.VisualStudio.HostingProcess.Utilities.pdb
/Microsoft.VisualStudio.QualityTools.Common.pdb/D92B4B5E25ED413FBB795945B0EE0E3E1/Microsoft.VisualStudio.QualityTools.Common.pdb
/Microsoft.VisualStudio.TestPlatform.Core.pdb/FF11D6D8C44940B3801B91BFBDF4D1781/Microsoft.VisualStudio.TestPlatform.Core.pdb
/Microsoft.VisualStudio.TestPlatform.Extensions.GenericTestAdapter.pdb/D2266201043E4491B068384F1400CFAE1/Microsoft.VisualStudio.TestPlatform.Extensions.GenericTestAdapter.pdb
/Microsoft.VisualStudio.TestPlatform.Extensions.MSAppContainerAdapter.pdb/A7C42E6F2B7446C1BCA2F7F4201A59BB1/Microsoft.VisualStudio.TestPlatform.Extensions.MSAppContainerAdapter.pdb
/Microsoft.VisualStudio.TestPlatform.Extensions.OrderedTestAdapter.pdb/0DF54433CF2F4BE9940C67EB4887C2991/Microsoft.VisualStudio.TestPlatform.Extensions.OrderedTestAdapter.pdb
/Microsoft.VisualStudio.TestPlatform.Extensions.TfsLogger.pdb/3C7D75553FB549019DA2D5CD9EDCC93D1/Microsoft.VisualStudio.TestPlatform.Extensions.TfsLogger.pdb
/Microsoft.VisualStudio.TestPlatform.Extensions.TmiAdapter.pdb/9F550B96CE294FD58ECDA6E7B9858E491/Microsoft.VisualStudio.TestPlatform.Extensions.TmiAdapter.pdb
/Microsoft.VisualStudio.TestPlatform.Extensions.TrxLogger.pdb/C5A180357A944560B98389CA0234A67B1/Microsoft.VisualStudio.TestPlatform.Extensions.TrxLogger.pdb
/Microsoft.VisualStudio.TestPlatform.Extensions.VSTestIntegration.pdb/A1946BD838464FA8B76C341E0B50CAFE1/download.error
/Microsoft.VisualStudio.TestPlatform.Extensions.pdb/CBBB6C464CD1429FA405E03E70E1912C1/Microsoft.VisualStudio.TestPlatform.Extensions.pdb
/Microsoft.VisualStudio.TestPlatform.ObjectModel.pdb/26F45DCD8D304F5F8C34EFA4393CBDB61/Microsoft.VisualStudio.TestPlatform.ObjectModel.pdb
/Microsoft.VisualStudio.TestPlatform.TestExecutor.Core.pdb/4D3097C260E846169914839673BDDF831/Microsoft.VisualStudio.TestPlatform.TestExecutor.Core.pdb
/Microsoft.VisualStudio.TestPlatform.UnitTestFramework.pdb/7FFA42BACBB04C0D95792FE88B51579F1/Microsoft.VisualStudio.TestPlatform.UnitTestFramework.pdb
/Microsoft.VisualStudio.TestPlatform.Utilities.pdb/00F7510AD2D047E49531CB843F15E8CB1/Microsoft.VisualStudio.TestPlatform.Utilities.pdb
/SMDiagnostics.pdb/0AFC8B48FD4A4F2CA2F4EF87E949EE2B1/SMDiagnostics.pdb
/System.Configuration.pdb/AF2344E40E7A483CB0F94FDF44501FD31/System.Configuration.pdb
/System.Core.pdb/735943310FEC4E57A1FFF165A73AF0001/System.Core.pdb
/System.Core.pdb/E095900C2BFD4996A111C26255B6C7391/System.Core.pdb
/System.Data.DataSetExtensions.pdb/DA4C1720E54447D58E6C73D6A610E5AF1/System.Data.DataSetExtensions.pdb
/System.Data.pdb/11A05DC68E8C4098885C8ED9B3A7D6A41/System.Data.pdb
/System.Drawing.pdb/C9FEECBF67AF4E26A860D8A4208EE9701/System.Drawing.pdb
/System.IdentityModel.pdb/6283158DCF92400691063799E7A777731/System.IdentityModel.pdb
/System.Runtime.Serialization.pdb/E55D729970AC40309393BB0FC1F3DDC21/System.Runtime.Serialization.pdb
/System.ServiceModel.Internals.pdb/93AA27B2C5E244D883D2FAA5F48384581/System.ServiceModel.Internals.pdb
/System.ServiceModel.pdb/52CBBEF4E29747C78993FF80FEBD4A721/System.ServiceModel.pdb
/System.Transactions.pdb/6F71D356B8594CDE83411735D757B3D91/System.Transactions.pdb
/System.Windows.Forms.pdb/EA63B49472A048619AB97F96E64859401/System.Windows.Forms.pdb
/System.Xml.Linq.pdb/31C464A9818D496F9FED024F603E7DB51/System.Xml.Linq.pdb
/System.Xml.pdb/48994C53259A42D6B3939159933C6D971/System.Xml.pdb
/System.Xml.pdb/94E313885BCD45A2A8566AD6A7DA4C801/System.Xml.pdb
/System.pdb/5E6405913E664B57AC29DBCA6048EDBE1/System.pdb
/System.pdb/712A1BFCA3C04308BE741B49494055D41/System.pdb
/Test/Command/Library/CmdVolTest.cs
/Test/DirectoryManipulations.feature
/Test/DirectoryManipulations.feature.cs
/Test/FileManipulation.feature
/Test/FileManipulation.feature.cs
/Test/GeneralDosUtilities.feature
/Test/GeneralDosUtilities.feature.cs
/Test/bddTests/CukeRunnerTest.java
/Test/bddTests/automationTests/DosBoxTest.java
/Test/bddTests/features/DirectoryManipulations.feature
/Test/bddTests/features/FileManipulation.feature
/Test/bddTests/features/GeneralDosUtilities.feature
/Test/bddTests/features/step_definitions/StepDefs.java
/Test/bin/Debug/DosBox.exe
/Test/bin/Debug/DosBox.pdb
/Test/bin/Debug/Test.dll
/Test/bin/Debug/Test.pdb
/Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
/Test/obj/Debug/Test.csprojResolveAssemblyReference.cache
/Test/obj/Debug/Test.dll
/Test/obj/Debug/Test.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_02_55/Out/DosBox.exe
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_02_55/Out/DosBox.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_02_55/Out/Test.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_02_55/Out/test.dll
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_09_05/Out/DosBox.exe
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_09_05/Out/DosBox.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_09_05/Out/Test.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_09_05/Out/test.dll
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_09_38/Out/DosBox.exe
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_09_38/Out/DosBox.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_09_38/Out/Test.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_09_38/Out/test.dll
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_10_27/Out/DosBox.exe
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_10_27/Out/DosBox.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_10_27/Out/Test.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_10_27/Out/test.dll
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_10_49/Out/DosBox.exe
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_10_49/Out/DosBox.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_10_49/Out/Test.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_10_49/Out/test.dll
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_11_21/Out/DosBox.exe
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_11_21/Out/DosBox.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_11_21/Out/Test.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_11_21/Out/test.dll
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_12_57/Out/AgentRestart.dat
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_12_57/Out/DosBox.exe
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_12_57/Out/DosBox.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_12_57/Out/Test.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_12_57/Out/test.dll
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_14_36/Out/DosBox.exe
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_14_36/Out/DosBox.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_14_36/Out/Test.pdb
/TestResults/frowin.stemmer_L-AC-878 2017-09-12 12_14_36/Out/test.dll
/mscorlib.pdb/2DA03F9A0FAA477E8C1EE911CE20F6FD1/mscorlib.pdb
/mscorlib.pdb/A9D263BA2A164A30888ACFF44260691A1/mscorlib.pdb
/pingme.txt
/vshost-clr2.pdb/7042CDFC94D34D69A93A37C09541ED821/vshost-clr2.pdb
/vstest.executionengine.x86.pdb/C13A1981D15249E092D09A969D5318181/vstest.executionengine.x86.pdb
